figures-submit-round1/pdfs-round1
*_old/
analysis/
annotations/
ashg/
backup/
old/
organized/
parents/
scratch/
simulation/
ssc_files/
tscc_dir/
validation_per_locus/
.ipynb_checkpoints/
__pycache__
*~