old/
results/
SISTR_results/
SISTR_results_0825/
SISTR_results_1019/
SISTR_results_processed/
SISTR_results_processed_0825/
SISTR_results_v2
DMPK.ipynb
DMPK_old.ipynb
ABC_script.py
LRT_script.py
commands_ABC.txt
commands_LRT.txt
Commands_SISTR_v2.txt
nohup.out
*.png
SISTR.py
SISTR_commands.txt
SISTR_fast*py
*v2*.py
*_old.py
