results/
figures/
old/
joint_method_validation_mult.py
joint_method_validation_mult_one_opt_allele.py
joint_method_validation_one_opt.py
generate_k_theta_pairs_mult_opt.ipynb
generate_k_theta_pairs_one_opt.ipynb
fig2c_validation_mult_one_opt.ipynb
Figure2d_JointMethodValidation.ipynb
generate*.ipynb
graph_het_distr.ipynb
graph_pdf.ipynb
graph_pdf_discrete.ipynb
plot_cdf_real_data_by_opt_allele_backup.ipynb
plot_het_real_data.ipynb
plot_het_sim_data.ipynb
plot_prior.ipynb
test.ipynb
joint_method-Copy1.py
commands.txt
nohup.out